importing the each and every module :-
let's go

In [420]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing as preprocessing 
import sklearn.metrics as metrics
import sklearn.calibration as calibration
import sklearn.linear_model as linear_model
import sklearn.svm as svm
import sklearn.naive_bayes as naive_bayes
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split

In [419]:
test_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/test_data.csv" )

There are 2 dataframes one is train Dataframe and other is test Dataframe in which the train data and test data both are stored respectively..

In [421]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [422]:
test_df.head()

      user_id account_creation_date  ...      device_used web_browser
0  q9pfrw6si7            2014-02-17  ...  Windows Desktop     Firefox
1  9bzevnmq4v            2014-03-11  ...      Mac Desktop      Chrome
2  kux37wpcfo            2013-06-04  ...      Mac Desktop      Safari
3  qqnj6ohayo            2012-08-16  ...      Mac Desktop      Safari
4  nw97iy2dzi            2013-05-02  ...      Mac Desktop     Firefox

[5 rows x 12 columns]

In [423]:
X_id = test_df["user_id"]

In [424]:
test_df.count()

user_id                  64036
account_creation_date    64036
first_activity_time      64036
first_booking_date       26830
gender                   64036
age                      37731
language                 64036
marketing_type           64036
marketing_site           64036
app_used                 64036
device_used              64036
web_browser              64036
dtype: int64

In [425]:
test_df.describe()

       first_activity_time           age
count         6.403600e+04  37731.000000
mean          2.013089e+13     49.782407
std           9.239331e+09    156.195826
min           2.009032e+13      2.000000
25%           2.012123e+13     28.000000
50%           2.013091e+13     34.000000
75%           2.014031e+13     43.000000
max           2.014063e+13   2014.000000

In [426]:
train_df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/train_data.csv")

In [427]:
train_df.head()

      user_id account_creation_date  ...  web_browser target_country
0  ip08oqk8k5            2014-03-20  ...       Chrome             NB
1  ffcamo77iw            2014-06-27  ...           IE             NB
2  zuxy3ij0hz            2011-09-16  ...    -unknown-             US
3  85m8omu8n9            2014-04-03  ...      Firefox             US
4  qhjsgct7as            2014-04-30  ...       Safari          other

[5 rows x 13 columns]

In [428]:
train_df.count()

user_id                  149415
account_creation_date    149415
first_activity_time      149415
first_booking_date        62078
gender                   149415
age                       87730
language                 149415
marketing_type           149415
marketing_site           149415
app_used                 149415
device_used              149415
web_browser              149415
target_country           149415
dtype: int64

In [429]:
test_df.isna().sum()   ##  checking  null values in test data

user_id                      0
account_creation_date        0
first_activity_time          0
first_booking_date       37206
gender                       0
age                      26305
language                     0
marketing_type               0
marketing_site               0
app_used                     0
device_used                  0
web_browser                  0
dtype: int64

In [430]:
train_df.isna().sum()  ### checking the null values in the train data

user_id                      0
account_creation_date        0
first_activity_time          0
first_booking_date       87337
gender                       0
age                      61685
language                     0
marketing_type               0
marketing_site               0
app_used                     0
device_used                  0
web_browser                  0
target_country               0
dtype: int64

In [431]:
(train_df=="?").sum()    ##checking if any QUESTION MARK means unknown value is present or not

user_id                  0
account_creation_date    0
first_activity_time      0
first_booking_date       0
gender                   0
age                      0
language                 0
marketing_type           0
marketing_site           0
app_used                 0
device_used              0
web_browser              0
target_country           0
dtype: int64

In [432]:
(test_df=="?").sum()    ### checking tha same above in test dataframe

user_id                  0
account_creation_date    0
first_activity_time      0
first_booking_date       0
gender                   0
age                      0
language                 0
marketing_type           0
marketing_site           0
app_used                 0
device_used              0
web_browser              0
dtype: int64

In [433]:
train_df.age.max()  ## checking the age maxmimum value to find out the outliers actually..

2014.0

In [434]:
train_df['age'].describe() ## so further i am doing age describe so that i can clearly visualise the age data because its an important feature for the targert country

count    87730.000000
mean        49.619275
std        155.439319
min          1.000000
25%         28.000000
50%         34.000000
75%         43.000000
max       2014.000000
Name: age, dtype: float64

In [435]:
train_df['age'].value_counts()  ## seeing the how much unique value of age are present

30.0      4299
31.0      4196
29.0      4146
32.0      4111
28.0      4085
          ...
1952.0       1
1942.0       1
1925.0       1
1929.0       1
1995.0       1
Name: age, Length: 120, dtype: int64

In [436]:
train_df['age'].median() ## finding out the median of the age so that i can replace the age null or unkown column with the median or mode value

34.0

In [437]:
test_df["age"].mode()

0    28.0
dtype: float64

## Here since age is one of the important factror to determine the target of the preference city so as i am seeing here that nonsense type of age are also persent so what i am doing here is i am filling the age's NULL values with median values .

In [438]:
train_df["age"].fillna(train_df["age"].median(), inplace=True) ###so replacing age null value with the median age

In [439]:
test_df["age"].fillna(test_df["age"].median(), inplace=True)  ## same doing with test data because we have to preprocess the test and train data simultaneously

In [440]:
train_df.isna().sum()

user_id                      0
account_creation_date        0
first_activity_time          0
first_booking_date       87337
gender                       0
age                          0
language                     0
marketing_type               0
marketing_site               0
app_used                     0
device_used                  0
web_browser                  0
target_country               0
dtype: int64

In [441]:
test_df.isna().sum()

user_id                      0
account_creation_date        0
first_activity_time          0
first_booking_date       37206
gender                       0
age                          0
language                     0
marketing_type               0
marketing_site               0
app_used                     0
device_used                  0
web_browser                  0
dtype: int64

In [442]:
train_df["first_booking_date"].value_counts ### finding the unique value of first booking date for visualisation

<bound method IndexOpsMixin.value_counts of 0                NaN
1                NaN
2         2011-09-16
3         2014-04-03
4         2014-05-02
             ...
149410    2014-01-21
149411    2014-06-03
149412    2014-03-21
149413           NaN
149414           NaN
Name: first_booking_date, Length: 149415, dtype: object>

In [443]:
train_df.drop(axis="columns", labels= "first_booking_date", inplace=True) ## dropping the first booking date column

In [444]:
test_df.drop(axis="columns", labels="first_booking_date", inplace=True) ## same doing from the test data

In [445]:
train_df.head()

      user_id account_creation_date  ...  web_browser target_country
0  ip08oqk8k5            2014-03-20  ...       Chrome             NB
1  ffcamo77iw            2014-06-27  ...           IE             NB
2  zuxy3ij0hz            2011-09-16  ...    -unknown-             US
3  85m8omu8n9            2014-04-03  ...      Firefox             US
4  qhjsgct7as            2014-04-30  ...       Safari          other

[5 rows x 12 columns]

In [446]:
train_df.isna().sum()

user_id                  0
account_creation_date    0
first_activity_time      0
gender                   0
age                      0
language                 0
marketing_type           0
marketing_site           0
app_used                 0
device_used              0
web_browser              0
target_country           0
dtype: int64

In [447]:
test_df.isna().sum()

user_id                  0
account_creation_date    0
first_activity_time      0
gender                   0
age                      0
language                 0
marketing_type           0
marketing_site           0
app_used                 0
device_used              0
web_browser              0
dtype: int64

## i think user id  will also not play an important role in predicting the target country in which he/she wants to book first.

In [448]:
train_df.drop(axis="columns", labels= "user_id", inplace=True)  ### so dropping the USER_ID also

In [449]:
test_df.drop(axis="columns", labels= "user_id", inplace=True)  ## same doing from the test data

In [450]:
train_df.isna().sum()

account_creation_date    0
first_activity_time      0
gender                   0
age                      0
language                 0
marketing_type           0
marketing_site           0
app_used                 0
device_used              0
web_browser              0
target_country           0
dtype: int64

In [451]:
train_df.head()

  account_creation_date  first_activity_time  ... web_browser  target_country
0            2014-03-20       20140320194657  ...      Chrome              NB
1            2014-06-27       20140627200146  ...          IE              NB
2            2011-09-16       20110916063203  ...   -unknown-              US
3            2014-04-03       20140403003645  ...     Firefox              US
4            2014-04-30       20140430204559  ...      Safari           other

[5 rows x 11 columns]

In [452]:
train_df.drop(axis="columns", labels= "account_creation_date", inplace=True)   ## dropping the account creation date column because it will not play an important role in the features

In [453]:
test_df.drop(axis="columns", labels= "account_creation_date", inplace=True) ## same doing simultaneously with the test data

In [454]:
train_df["gender"].value_counts() ## seeing the description for gender

-unknown-    67013
FEMALE       44119
MALE         38092
OTHER          191
Name: gender, dtype: int64

In [455]:
train_df["language"].value_counts()

en    144458
zh      1152
fr       815
es       628
de       509
ko       505
it       355
ru       280
pt       175
ja       151
sv        76
nl        72
pl        41
da        37
tr        36
no        21
cs        20
el        19
id        16
fi        14
hu        13
th        13
ca         5
is         3
hr         1
Name: language, dtype: int64

In [456]:
#train_df.drop(axis="columns", labels= "app_used", inplace=True)

In [457]:
#test_df.drop(axis="columns", labels= "app_used", inplace=True)

In [458]:
#train_df.drop(axis="columns", labels= "device_used", inplace=True)

In [459]:
#test_df.drop(axis="columns", labels= "device_used", inplace=True)

In [460]:
train_df.drop(axis="columns", labels= "marketing_type", inplace=True)  ## dropping the marketing type columns from the train and test data

In [461]:
test_df.drop(axis="columns", labels= "marketing_type", inplace=True)

In [462]:
train_df.drop(axis="columns", labels= "marketing_site", inplace=True)

In [463]:
test_df.drop(axis="columns", labels= "marketing_site", inplace=True)

In [464]:
train_df.head()

   first_activity_time     gender  ...  web_browser target_country
0       20140320194657  -unknown-  ...       Chrome             NB
1       20140627200146     FEMALE  ...           IE             NB
2       20110916063203  -unknown-  ...    -unknown-             US
3       20140403003645  -unknown-  ...      Firefox             US
4       20140430204559       MALE  ...       Safari          other

[5 rows x 8 columns]

In [465]:
test_df.head()

   first_activity_time     gender   age  ... app_used      device_used web_browser
0       20140217005503     FEMALE  27.0  ...      Web  Windows Desktop     Firefox
1       20140311181449  -unknown-  34.0  ...      Web      Mac Desktop      Chrome
2       20130604060604       MALE  52.0  ...      Web      Mac Desktop      Safari
3       20120816172708     FEMALE  45.0  ...      Web      Mac Desktop      Safari
4       20130502074337     FEMALE  35.0  ...      Web      Mac Desktop     Firefox

[5 rows x 7 columns]

In [466]:
#train_df.drop(axis="columns", labels= "web_browser", inplace=True)

In [467]:
#test_df.drop(axis="columns", labels= "web_browser", inplace=True)

In [468]:
#column_names_to_one_hot = ["gender", "language"]

In [469]:
#test_df = pd.get_dummies(test_df, columns=column_names_to_one_hot)

In [470]:
test_df.columns

Index(['first_activity_time', 'gender', 'age', 'language', 'app_used',
       'device_used', 'web_browser'],
      dtype='object')

In [471]:
test_df.head()

   first_activity_time     gender   age  ... app_used      device_used web_browser
0       20140217005503     FEMALE  27.0  ...      Web  Windows Desktop     Firefox
1       20140311181449  -unknown-  34.0  ...      Web      Mac Desktop      Chrome
2       20130604060604       MALE  52.0  ...      Web      Mac Desktop      Safari
3       20120816172708     FEMALE  45.0  ...      Web      Mac Desktop      Safari
4       20130502074337     FEMALE  35.0  ...      Web      Mac Desktop     Firefox

[5 rows x 7 columns]

In [472]:
train_df.head()

   first_activity_time     gender  ...  web_browser target_country
0       20140320194657  -unknown-  ...       Chrome             NB
1       20140627200146     FEMALE  ...           IE             NB
2       20110916063203  -unknown-  ...    -unknown-             US
3       20140403003645  -unknown-  ...      Firefox             US
4       20140430204559       MALE  ...       Safari          other

[5 rows x 8 columns]

what i am doing below is  i am doing label encoding to the target country

In [473]:
train_df["target_country"].unique()

array(['NB', 'US', 'other', 'FR', 'AU', 'ES', 'NL', 'GB', 'IT', 'CA',
       'DE', 'PT'], dtype=object)

In [474]:



####### here what i am doing is i am converting the target country into different labels by doing label encoding  

from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
 
# Encode labels in column 'species'.
train_df['target_country']= label_encoder.fit_transform(train_df['target_country'])
 
train_df['target_country'].unique()

array([ 7, 10, 11,  4,  0,  3,  8,  5,  6,  1,  2,  9])

In [475]:
train_df.head()

   first_activity_time     gender  ...  web_browser target_country
0       20140320194657  -unknown-  ...       Chrome              7
1       20140627200146     FEMALE  ...           IE              7
2       20110916063203  -unknown-  ...    -unknown-             10
3       20140403003645  -unknown-  ...      Firefox             10
4       20140430204559       MALE  ...       Safari             11

[5 rows x 8 columns]

In [476]:
#column_names_to_one_hot = ["target_country"]

In [477]:
#train_df = pd.get_dummies(train_df, columns=column_names_to_one_hot)

In [478]:
train_df.columns

Index(['first_activity_time', 'gender', 'age', 'language', 'app_used',
       'device_used', 'web_browser', 'target_country'],
      dtype='object')

In [479]:
column_names_to_one_hot = ["gender", "language","web_browser","app_used","device_used"]
train_df = pd.get_dummies(train_df, columns=column_names_to_one_hot)        #### doing one hot encoding of all these fields because i think this will play an important role in predicting the target country

In [480]:
train_df.columns

Index(['first_activity_time', 'age', 'target_country', 'gender_-unknown-',
       'gender_FEMALE', 'gender_MALE', 'gender_OTHER', 'language_ca',
       'language_cs', 'language_da', 'language_de', 'language_el',
       'language_en', 'language_es', 'language_fi', 'language_fr',
       'language_hr', 'language_hu', 'language_id', 'language_is',
       'language_it', 'language_ja', 'language_ko', 'language_nl',
       'language_no', 'language_pl', 'language_pt', 'language_ru',
       'language_sv', 'language_th', 'language_tr', 'language_zh',
       'web_browser_-unknown-', 'web_browser_AOL Explorer',
       'web_browser_Android Browser', 'web_browser_Apple Mail',
       'web_browser_Arora', 'web_browser_Avant Browser',
       'web_browser_BlackBerry Browser', 'web_browser_Camino',
       'web_browser_Chrome', 'web_browser_Chrome Mobile',
       'web_browser_Chromium', 'web_browser_CometBird',
       'web_browser_Comodo Dragon', 'web_browser_CoolNovo',
       'web_browser_Crazy Browser', 'web_browser_Epic', 'web_browser_Firefox',
       'web_browser_Flock', 'web_browser_Google Earth',
       'web_browser_Googlebot', 'web_browser_IE', 'web_browser_IE Mobile',
       'web_browser_IceDragon', 'web_browser_IceWeasel', 'web_browser_Iron',
       'web_browser_Kindle Browser', 'web_browser_Maxthon',
       'web_browser_Mobile Firefox', 'web_browser_Mobile Safari',
       'web_browser_Mozilla', 'web_browser_NetNewsWire', 'web_browser_OmniWeb',
       'web_browser_Opera', 'web_browser_Opera Mini',
       'web_browser_Opera Mobile', 'web_browser_Outlook 2007',
       'web_browser_Pale Moon', 'web_browser_Palm Pre web browser',
       'web_browser_RockMelt', 'web_browser_Safari', 'web_browser_SeaMonkey',
       'web_browser_Silk', 'web_browser_SiteKiosk', 'web_browser_SlimBrowser',
       'web_browser_Sogou Explorer', 'web_browser_TenFourFox',
       'web_browser_TheWorld Browser', 'web_browser_Yandex.Browser',
       'web_browser_wOSBrowser', 'app_used_Android', 'app_used_Moweb',
       'app_used_Web', 'app_used_iOS', 'device_used_Android Phone',
       'device_used_Android Tablet', 'device_used_Desktop (Other)',
       'device_used_Mac Desktop', 'device_used_Other/Unknown',
       'device_used_SmartPhone (Other)', 'device_used_Windows Desktop',
       'device_used_iPad', 'device_used_iPhone'],
      dtype='object')

Now what i am doing is assigning all the features to the X variable which i have to take into account

In [481]:
X = train_df.drop(axis="columns", labels=['target_country']).to_numpy().astype(np.float64)

In [482]:
X

array([[2.01403202e+13, 3.40000000e+01, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.01406272e+13, 3.50000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.01109161e+13, 3.40000000e+01, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [2.01312121e+13, 3.30000000e+01, 0.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.01401282e+13, 3.40000000e+01, 1.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.01311051e+13, 3.50000000e+01, 0.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [483]:
######   now what i am doing is here keeping the target country columns in my Y 




Y= train_df.drop(axis="columns", labels=['first_activity_time', 'age','gender_-unknown-',
       'gender_FEMALE', 'gender_MALE', 'gender_OTHER', 'language_ca',
       'language_cs', 'language_da', 'language_de', 'language_el',
       'language_en', 'language_es', 'language_fi', 'language_fr',
       'language_hr', 'language_hu', 'language_id', 'language_is',
       'language_it', 'language_ja', 'language_ko', 'language_nl',
       'language_no', 'language_pl', 'language_pt', 'language_ru',
       'language_sv', 'language_th', 'language_tr', 'language_zh',
       'web_browser_-unknown-', 'web_browser_AOL Explorer',
       'web_browser_Android Browser', 'web_browser_Apple Mail',
       'web_browser_Arora', 'web_browser_Avant Browser',
       'web_browser_BlackBerry Browser', 'web_browser_Camino',
       'web_browser_Chrome', 'web_browser_Chrome Mobile',
       'web_browser_Chromium', 'web_browser_CometBird',
       'web_browser_Comodo Dragon', 'web_browser_CoolNovo',
       'web_browser_Crazy Browser', 'web_browser_Epic', 'web_browser_Firefox',
       'web_browser_Flock', 'web_browser_Google Earth',
       'web_browser_Googlebot', 'web_browser_IE', 'web_browser_IE Mobile',
       'web_browser_IceDragon', 'web_browser_IceWeasel', 'web_browser_Iron',
       'web_browser_Kindle Browser', 'web_browser_Maxthon',
       'web_browser_Mobile Firefox', 'web_browser_Mobile Safari',
       'web_browser_Mozilla', 'web_browser_NetNewsWire', 'web_browser_OmniWeb',
       'web_browser_Opera', 'web_browser_Opera Mini',
       'web_browser_Opera Mobile', 'web_browser_Outlook 2007',
       'web_browser_Pale Moon', 'web_browser_Palm Pre web browser',
       'web_browser_RockMelt', 'web_browser_Safari', 'web_browser_SeaMonkey',
       'web_browser_Silk', 'web_browser_SiteKiosk', 'web_browser_SlimBrowser',
       'web_browser_Sogou Explorer', 'web_browser_TenFourFox',
       'web_browser_TheWorld Browser', 'web_browser_Yandex.Browser',
       'web_browser_wOSBrowser', 'app_used_Android', 'app_used_Moweb',
       'app_used_Web', 'app_used_iOS', 'device_used_Android Phone',
       'device_used_Android Tablet', 'device_used_Desktop (Other)',
       'device_used_Mac Desktop', 'device_used_Other/Unknown',
       'device_used_SmartPhone (Other)', 'device_used_Windows Desktop',
       'device_used_iPad', 'device_used_iPhone']).to_numpy().astype(np.float64)

In [484]:
Y

array([[ 7.],
       [ 7.],
       [10.],
       ...,
       [10.],
       [ 7.],
       [ 7.]])

Here now what i am doing is splitting the training data into test and train set by keeping 70% data in the train set and 30% data in the test set

In [485]:
from sklearn.model_selection import train_test_split 


train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size=0.7)

In [486]:
print('train_X dimension= ', train_X.shape)
print('test_X dimension= ', test_X.shape)
print('train_Y dimension= ', train_Y.shape)
print('test_Y dimension= ', test_Y.shape)

train_X dimension=  (104590, 93)
test_X dimension=  (44825, 93)
train_Y dimension=  (104590, 1)
test_Y dimension=  (44825, 1)

In [488]:
test_df.head()

   first_activity_time     gender   age  ... app_used      device_used web_browser
0       20140217005503     FEMALE  27.0  ...      Web  Windows Desktop     Firefox
1       20140311181449  -unknown-  34.0  ...      Web      Mac Desktop      Chrome
2       20130604060604       MALE  52.0  ...      Web      Mac Desktop      Safari
3       20120816172708     FEMALE  45.0  ...      Web      Mac Desktop      Safari
4       20130502074337     FEMALE  35.0  ...      Web      Mac Desktop     Firefox

[5 rows x 7 columns]

In [489]:
column_names_to_one_hot = ["gender", "language","web_browser","app_used","device_used"]
test_df = pd.get_dummies(test_df, columns=column_names_to_one_hot)

In [490]:
test_df.head()

   first_activity_time   age  ...  device_used_iPad  device_used_iPhone
0       20140217005503  27.0  ...                 0                   0
1       20140311181449  34.0  ...                 0                   0
2       20130604060604  52.0  ...                 0                   0
3       20120816172708  45.0  ...                 0                   0
4       20130502074337  35.0  ...                 0                   0

[5 rows x 82 columns]

In [491]:
print('test_df dimension= ', test_df.shape) ### checking the dimensions of the test datframe

test_df dimension=  (64036, 82)

In [492]:
test_df.columns

Index(['first_activity_time', 'age', 'gender_-unknown-', 'gender_FEMALE',
       'gender_MALE', 'gender_OTHER', 'language_cs', 'language_da',
       'language_de', 'language_el', 'language_en', 'language_es',
       'language_fr', 'language_hr', 'language_hu', 'language_id',
       'language_is', 'language_it', 'language_ja', 'language_ko',
       'language_nl', 'language_no', 'language_pl', 'language_pt',
       'language_ru', 'language_sv', 'language_th', 'language_tr',
       'language_zh', 'web_browser_-unknown-', 'web_browser_AOL Explorer',
       'web_browser_Android Browser', 'web_browser_Apple Mail',
       'web_browser_Avant Browser', 'web_browser_BlackBerry Browser',
       'web_browser_Camino', 'web_browser_Chrome', 'web_browser_Chrome Mobile',
       'web_browser_Chromium', 'web_browser_CometBird',
       'web_browser_Comodo Dragon', 'web_browser_Conkeror',
       'web_browser_CoolNovo', 'web_browser_Crazy Browser',
       'web_browser_Firefox', 'web_browser_IE', 'web_browser_IE Mobile',
       'web_browser_IceWeasel', 'web_browser_Iron', 'web_browser_Maxthon',
       'web_browser_Mobile Firefox', 'web_browser_Mobile Safari',
       'web_browser_Mozilla', 'web_browser_OmniWeb', 'web_browser_Opera',
       'web_browser_Opera Mini', 'web_browser_Opera Mobile',
       'web_browser_PS Vita browser', 'web_browser_Pale Moon',
       'web_browser_RockMelt', 'web_browser_Safari', 'web_browser_SeaMonkey',
       'web_browser_Silk', 'web_browser_SiteKiosk',
       'web_browser_Sogou Explorer', 'web_browser_Stainless',
       'web_browser_TenFourFox', 'web_browser_Yandex.Browser',
       'web_browser_wOSBrowser', 'app_used_Android', 'app_used_Moweb',
       'app_used_Web', 'app_used_iOS', 'device_used_Android Phone',
       'device_used_Android Tablet', 'device_used_Desktop (Other)',
       'device_used_Mac Desktop', 'device_used_Other/Unknown',
       'device_used_SmartPhone (Other)', 'device_used_Windows Desktop',
       'device_used_iPad', 'device_used_iPhone'],
      dtype='object')

In [493]:
train_df.columns

Index(['first_activity_time', 'age', 'target_country', 'gender_-unknown-',
       'gender_FEMALE', 'gender_MALE', 'gender_OTHER', 'language_ca',
       'language_cs', 'language_da', 'language_de', 'language_el',
       'language_en', 'language_es', 'language_fi', 'language_fr',
       'language_hr', 'language_hu', 'language_id', 'language_is',
       'language_it', 'language_ja', 'language_ko', 'language_nl',
       'language_no', 'language_pl', 'language_pt', 'language_ru',
       'language_sv', 'language_th', 'language_tr', 'language_zh',
       'web_browser_-unknown-', 'web_browser_AOL Explorer',
       'web_browser_Android Browser', 'web_browser_Apple Mail',
       'web_browser_Arora', 'web_browser_Avant Browser',
       'web_browser_BlackBerry Browser', 'web_browser_Camino',
       'web_browser_Chrome', 'web_browser_Chrome Mobile',
       'web_browser_Chromium', 'web_browser_CometBird',
       'web_browser_Comodo Dragon', 'web_browser_CoolNovo',
       'web_browser_Crazy Browser', 'web_browser_Epic', 'web_browser_Firefox',
       'web_browser_Flock', 'web_browser_Google Earth',
       'web_browser_Googlebot', 'web_browser_IE', 'web_browser_IE Mobile',
       'web_browser_IceDragon', 'web_browser_IceWeasel', 'web_browser_Iron',
       'web_browser_Kindle Browser', 'web_browser_Maxthon',
       'web_browser_Mobile Firefox', 'web_browser_Mobile Safari',
       'web_browser_Mozilla', 'web_browser_NetNewsWire', 'web_browser_OmniWeb',
       'web_browser_Opera', 'web_browser_Opera Mini',
       'web_browser_Opera Mobile', 'web_browser_Outlook 2007',
       'web_browser_Pale Moon', 'web_browser_Palm Pre web browser',
       'web_browser_RockMelt', 'web_browser_Safari', 'web_browser_SeaMonkey',
       'web_browser_Silk', 'web_browser_SiteKiosk', 'web_browser_SlimBrowser',
       'web_browser_Sogou Explorer', 'web_browser_TenFourFox',
       'web_browser_TheWorld Browser', 'web_browser_Yandex.Browser',
       'web_browser_wOSBrowser', 'app_used_Android', 'app_used_Moweb',
       'app_used_Web', 'app_used_iOS', 'device_used_Android Phone',
       'device_used_Android Tablet', 'device_used_Desktop (Other)',
       'device_used_Mac Desktop', 'device_used_Other/Unknown',
       'device_used_SmartPhone (Other)', 'device_used_Windows Desktop',
       'device_used_iPad', 'device_used_iPhone'],
      dtype='object')

Now here since shape is coming differently so iam adding missing columns by giving all the values as 0 into the test dataframe

In [494]:
test_df.drop(axis="columns", labels= 'web_browser_Conkeror', inplace=True)

In [495]:
test_df.drop(axis="columns", labels=  'web_browser_PS Vita browser', inplace=True)

In [496]:
test_df.drop(axis="columns", labels=   'web_browser_Stainless', inplace=True)

In [497]:
test_df["language_ca"]= 0     ### adding this missing language columns into the test dtaframe

In [498]:
test_df["language_fi"] = 0

In [499]:
test_df['web_browser_Arora']= 0

In [500]:
test_df['web_browser_Epic']= 0

In [501]:
test_df['web_browser_Flock']= 0

In [502]:
test_df['web_browser_Google Earth']= 0

In [503]:
test_df['web_browser_Googlebot']= 0

In [504]:
test_df['web_browser_IceDragon']= 0

In [505]:
test_df['web_browser_Kindle Browser']= 0

In [506]:
test_df['web_browser_NetNewsWire']= 0

In [507]:
test_df[ 'web_browser_Outlook 2007']= 0

In [508]:
test_df['web_browser_Palm Pre web browser']= 0

In [509]:
test_df['web_browser_SlimBrowser']= 0

In [510]:
test_df[ 'web_browser_TheWorld Browser']= 0

In [511]:
test_df.columns

Index(['first_activity_time', 'age', 'gender_-unknown-', 'gender_FEMALE',
       'gender_MALE', 'gender_OTHER', 'language_cs', 'language_da',
       'language_de', 'language_el', 'language_en', 'language_es',
       'language_fr', 'language_hr', 'language_hu', 'language_id',
       'language_is', 'language_it', 'language_ja', 'language_ko',
       'language_nl', 'language_no', 'language_pl', 'language_pt',
       'language_ru', 'language_sv', 'language_th', 'language_tr',
       'language_zh', 'web_browser_-unknown-', 'web_browser_AOL Explorer',
       'web_browser_Android Browser', 'web_browser_Apple Mail',
       'web_browser_Avant Browser', 'web_browser_BlackBerry Browser',
       'web_browser_Camino', 'web_browser_Chrome', 'web_browser_Chrome Mobile',
       'web_browser_Chromium', 'web_browser_CometBird',
       'web_browser_Comodo Dragon', 'web_browser_CoolNovo',
       'web_browser_Crazy Browser', 'web_browser_Firefox', 'web_browser_IE',
       'web_browser_IE Mobile', 'web_browser_IceWeasel', 'web_browser_Iron',
       'web_browser_Maxthon', 'web_browser_Mobile Firefox',
       'web_browser_Mobile Safari', 'web_browser_Mozilla',
       'web_browser_OmniWeb', 'web_browser_Opera', 'web_browser_Opera Mini',
       'web_browser_Opera Mobile', 'web_browser_Pale Moon',
       'web_browser_RockMelt', 'web_browser_Safari', 'web_browser_SeaMonkey',
       'web_browser_Silk', 'web_browser_SiteKiosk',
       'web_browser_Sogou Explorer', 'web_browser_TenFourFox',
       'web_browser_Yandex.Browser', 'web_browser_wOSBrowser',
       'app_used_Android', 'app_used_Moweb', 'app_used_Web', 'app_used_iOS',
       'device_used_Android Phone', 'device_used_Android Tablet',
       'device_used_Desktop (Other)', 'device_used_Mac Desktop',
       'device_used_Other/Unknown', 'device_used_SmartPhone (Other)',
       'device_used_Windows Desktop', 'device_used_iPad', 'device_used_iPhone',
       'language_ca', 'language_fi', 'web_browser_Arora', 'web_browser_Epic',
       'web_browser_Flock', 'web_browser_Google Earth',
       'web_browser_Googlebot', 'web_browser_IceDragon',
       'web_browser_Kindle Browser', 'web_browser_NetNewsWire',
       'web_browser_Outlook 2007', 'web_browser_Palm Pre web browser',
       'web_browser_SlimBrowser', 'web_browser_TheWorld Browser'],
      dtype='object')

In [512]:
train_df.corr() #### after that finding the correlation between each pair to check which features are highly corealtred or what ...

                                first_activity_time  ...  device_used_iPhone
first_activity_time                        1.000000  ...            0.139565
age                                       -0.031842  ...           -0.014967
target_country                            -0.023415  ...           -0.025145
gender_-unknown-                           0.130634  ...            0.048926
gender_FEMALE                             -0.082251  ...           -0.036636
...                                             ...  ...                 ...
device_used_Other/Unknown                 -0.134480  ...           -0.075446
device_used_SmartPhone (Other)            -0.003108  ...           -0.006005
device_used_Windows Desktop               -0.005714  ...           -0.236099
device_used_iPad                           0.022254  ...           -0.087848
device_used_iPhone                         0.139565  ...            1.000000

[94 rows x 94 columns]

In [559]:

from sklearn import model_selection
from sklearn import linear_model
from sklearn import metrics


#######   NOW HERE I AM APPLYING LOGISTIC REGRESSION MODEL AND THEN PREDICTING THE TARGET COUNTRY USING THIS MODEL I AM USING HERE IS LIBLINEAR SOLVER 
##########  BECAUSE it is beneficial  with huge dimension of datsets


##### and  OVR means == one verses the rest   i am using because  of multi class classification



lm = linear_model.LogisticRegression(multi_class='ovr', solver='liblinear')
lm.fit(train_X, train_Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [560]:
lm.predict(test_X)

#### here i am predicting  the test_X data and the i am comparing the predicted y with thr truth y value and the finding the score 

### so accuracy we are finding here is about 58%

lm.score(test_X, test_Y)

0.5827997769102063

In [515]:
Y_predicted = lm.predict(test_df) 


###  and after that we are predicting y that is target country on whole the test data

In [516]:
test_df.head()

   first_activity_time  ...  web_browser_TheWorld Browser
0       20140217005503  ...                             0
1       20140311181449  ...                             0
2       20130604060604  ...                             0
3       20120816172708  ...                             0
4       20130502074337  ...                             0

[5 rows x 93 columns]

In [517]:
Y_predicted=Y_predicted.astype('int64')  #### here i am converting float into int because some conversion error was coming

In [518]:
Y_predicted = label_encoder.inverse_transform(Y_predicted)  ####  after we are now inversde transforming with the sam dat with the actual value which was in the actual data of train at the place of target_ country

In [519]:
Y_predicted

array(['NB', 'NB', 'NB', ..., 'NB', 'NB', 'NB'], dtype=object)

In [520]:
print(type(Y_predicted))

<class 'numpy.ndarray'>

In [521]:
result = pd.DataFrame({'user_id':X_id,'target_country':Y_predicted}) ## now here i am preapring submission file

In [522]:
result.head()

      user_id target_country
0  q9pfrw6si7             NB
1  9bzevnmq4v             NB
2  kux37wpcfo             NB
3  qqnj6ohayo             NB
4  nw97iy2dzi             NB

In [523]:
#result.to_csv('predictions3.csv',index=False,header=True)  and changing this dataframe into csv file

I  took the another classifier that is K-Nearest-Neighbour and chosen 60  neighbours to calculate tyhe eucledian distance and got some enhancement in the score .

In [564]:
## lets take another classsifier


from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 60).fit(train_X, train_Y)
 
# accuracy on X_test


accuracy = knn.score(test_X, test_Y)
print (accuracy)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

0.5842275515895148

In [525]:
Y_predicted_knn = knn.predict(test_df)

In [526]:
Y_predicted_knn=Y_predicted_knn.astype('int64')

In [527]:
Y_predicted_knn = label_encoder.inverse_transform(Y_predicted_knn)

In [528]:
result = pd.DataFrame({'user_id':X_id,'target_country':Y_predicted_knn})

In [529]:
#result.to_csv('predictions_knn.csv',index=False,header=True)

NOW I AM APPLYING ANOTHER ALGO  LETS DIVE INTO IT :-


hurray...........

In [530]:
###  NOW HERE I AM USING PCA CLASSIFIER TO TRAIN MY MODEL


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#Fit on training set only.


scaler.fit(train_X)


# Apply transform to both the training set and the test set.
train_X = scaler.transform(train_X)
test_X = scaler.transform(test_X)

In [531]:
from sklearn.decomposition import PCA
# Make an instance of the Model
pca = PCA(.95)

In [532]:
pca.fit(train_X)

In [533]:
train_X = pca.transform(train_X)
test_X = pca.transform(test_X)

In [534]:
from sklearn.linear_model import LogisticRegression

In [535]:

# default solver is incredibly slow which is why it was changed to 'lbfgs'


logisticRegr = LogisticRegression(solver = 'lbfgs')

In [536]:
logisticRegr.fit(train_X, train_Y)

In [537]:
logisticRegr.predict(test_X)

In [538]:
logisticRegr.score(test_X, test_Y)    ### but here also i am getting about the same score

NOW I am using  DECISION_TREE_CLASSIFIER algorithm to train my MODEL and then i have predicted my target country by using this MODEL i am using this becauuse i studied while exploring through google and medium articles and seems interesting to me so i used it for just checking purpose and mostly because of the curiosity and i have increased some accuracy by using this classifier

In [580]:


##### SO HERE I AM JUST FORMALLY EXPLORING THE DESCISION TREE CLASSIFIER TO TRAIN OUR MODEL



from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth =9).fit(train_X, train_Y)   ###fitting opur train data 
dtree_model.predict(test_X)

dtree_model.score(test_X,test_Y)   #### calculating the accuracy

0.6061349693251534

In [540]:
Y_predicted_DT = dtree_model.predict(test_df)

In [541]:
Y_predicted_DT=Y_predicted_DT.astype('int64')

In [542]:
Y_predicted_DT = label_encoder.inverse_transform(Y_predicted_DT)  ### same doing inverse transform for replacing with the origional values

In [543]:
result = pd.DataFrame({'user_id':X_id,'target_country':Y_predicted_DT}) ### then making the result datframe

In [544]:
#result.to_csv('predictions_DT_again.csv',index=False,header=True)

In [584]:

###  here using ssoftmax regression classifier using solver as lbfgs

from sklearn.linear_model import LogisticRegression



softmax_reg = LogisticRegression(multi_class="multinomial",solver="lbfgs", C=140)
softmax_reg.fit(train_X,train_Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=140, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [585]:
softmax_reg.predict(test_X)

softmax_reg.score(test_X,test_Y)

0.5827997769102063